<!-- blog/article_details.html -->
{% extends 'blog/base.html' %}

{% block title %}Статья{% endblock %}

{% block content %}
{% include 'blog/header.html' %}
<p>Изображение: <img src="{{ blog.photos.url }}" alt="{{ article.title }}"></p>
<h2>{{ article.title }}</h2>
<p>{{ article.description }}</p>
<p>Просмотров: {{ article.number_of_views }}</p>


<a href="{% url 'blog:article_update' article.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'blog:article_delete' article.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'blog:articles' %}" class="btn btn-primary">Вернуться к списку</a>

{% endblock %}